language: node_js
node_js:
  - "8"
install:
  - npm install -g @vue/cli
script:
  - npm install
  - npm audit fix
  - npm run build
cache:
  directories:
    - "node_modules"
notifications:
  email: false
deploy:
  provider: pages
  skip-cleanup: true
  local-dir: $TRAVIS_BUILD_DIR/dist
  github-token: $GITHUB_TOKEN
  repo: $GITHUB_REPO
  email: $GITHUB_EMAIL
  name: $GITHUB_NAME
  keep-history: true
  target-branch: master
  on:
    branch: master
    tag: true
